Flask==2.3.2
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
PyMySQL==1.1.0
elasticsearch==8.12.0
openai==0.28.1
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.6.1
matplotlib==3.8.2
seaborn==0.13.1
scipy==1.12.0
cryptography==42.0.5
pymysql[rsa]